.component_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 164rem;
  background-color: rgba(255, 255, 255, 0.97);
}

.full_wrapper {
  width: 108rem;
  height: 192rem;
  display: flex;
  align-items: flex-end;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay_title {
  font-family: "Heavitas";
  font-style: normal;
  font-weight: normal;
  font-size: 5.5rem;
  color: var(--primary-color);
  padding-bottom: 3rem;
}

.overlay_text {
  font-family: "Alte-bold";
  font-style: normal;
  font-weight: normal;
  font-size: 3.6rem;
  width: 59rem;
}
.arrow {
  position: absolute;
  left: 52.8rem;
  top: 177rem;
}
