.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.button {
  font-family: "Heavitas";
  font-size: 4.8rem;
  color: var(--white);
  height: 25rem;
  border: none;
  width: 100%;
  background-color: var(--primary-color);
  margin-top: 12.9rem;
}

.timer {
  font-family: "Heavitas";
  font-size: 4.8rem;
}
