.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding-bottom: 6.4rem;
  padding-top: 14.6rem;
}

.bodytext {
  font-family: "Alte-bold";
  font-size: 3.6rem;
  line-height: 150%;
}

.bigtext {
  font-family: "Heavitas";
  font-size: 4.8rem;
  color: var(--primary-color);
  margin-top: 3.2rem;
}

.smalltext {
  font-family: "Alte";
  font-size: 2.4rem;
}

.margintop {
  margin-top: -4.6rem;
}

.nextinvite {
  background-image: url("../assets/img/ivniteborder.svg");
  width: 58.2rem;
  height: 28.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
